<button class="px-3 py-2 rounded bg-gray-900 text-white" onclick="document.querySelector('#demo-dialog').show()">Open dialog</button>
<el-dialog id="demo-dialog">
  <dialog class="rounded-xl p-6 bg-white shadow">
    <p class="text-gray-800">Hello from Tailwind Plus Elements!</p>
    <button class="mt-4 underline" onclick="document.querySelector('#demo-dialog').hide()">Close</button>
  </dialog>
</el-dialog>
