<div class="px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <div class="mb-8">
      <h1 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Nouvelle École</h1>
      <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">
        Créez une nouvelle école dans le système Baroprof.
      </p>
    </div>

    <%= render 'form', school: @school %>
  </div>
</div>
